:root { 
--cyan_A200:#17fbfb; 
--black_900_3f:#0000003f; 
--indigo_300_7f:#628ecf7f; 
--gray_50:#f8f9fd; 
--light_blue_800:#037aca; 
--white_A700_99:#ffffff99; 
--teal_A700_4c:#03cab24c; 
--pink_A200:#fb17bb; 
--purple_A400_4c:#ca03c24c; 
--bluegray_500_33:#6d7d9333; 
--black_900:#000000; 
--bluegray_500_99:#6d7d9399; 
--red_300_7f:#cf62627f; 
--pink_A200_4c:#fb17bb4c; 
--yellow_900:#ef7420; 
--cyan_A200_4c:#17fbfb4c; 
--purple_A400:#ca03c2; 
--deep_purple_A200:#6a4bff; 
--gray_501:#969699; 
--teal_A700:#03cab2; 
--indigo_A700_7f:#394cf87f; 
--gray_500:#969696; 
--blue_500:#18a0fb; 
--gray_900:#0c0047; 
--bluegray_500_26:#6d7d9326; 
--black_900_0c:#0000000c; 
--gray_200:#ebebeb; 
--gray_101:#f4f5f9; 
--gray_201:#eaeaea; 
--gray_100:#f2f2ff; 
--bluegray_900:#343434; 
--cyan_300:#3fe2c5; 
--bluegray_500:#6d7d93; 
--bluegray_500_66:#6d7d9366; 
--white_A700_26:#ffffff26; 
--pink_A200_7f:#f8397e7f; 
--indigo_902:#00218f; 
--light_blue_800_4c:#037aca4c; 
--indigo_900:#0a2a93; 
--indigo_901:#152c5b; 
--black_900_19:#00000019; 
--indigo_700:#2f3caf; 
--blue_500_4c:#18a0fb4c; 
--white_A700:#ffffff; 
--cyan_301:#37e2d5; 
--indigo_600:#304daf; 
}